.landing {
  position: relative;
  min-height: 100vh;
}

.hero {
  min-height: 60vh;

  // DEV
  @include flexCenter;
  background-color: rgba(blue, 0.3);
}

.landing-main {
  display: grid;
  grid-template-areas:
    'left left right right right right'
    'bottom bottom bottom bottom bottom bottom';
  padding: 0 5rem;

  // DEV
  // min-height: 500vh;
  // height: 500vh;

  &__left {
    grid-area: left;

    // DEV
    background-color: rgba(yellow, 0.5);

    &__content {
      position: sticky;
      top: 0;
      min-height: 100vh;
      @include flexCenter;
    }
  }

  &__right {
    grid-area: right;
    // DEV
    @include flexCenter;
    min-height: 200vh;
    background-color: rgba(pink, 0.5);
  }

  &__bottom {
    grid-area: bottom;

    // DEV
    @include flexCenter;
    height: 50vh;
    background-color: rgba(rgba(82, 182, 140, 0.363), 0.5);
  }
}
