.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 5rem;
  background-color: $color-light-background-1;

  &__header {
    padding-bottom: 3rem;
  }

  &__box {
    width: 400px; // TODO: fix width
    border-radius: 8px;
    padding: 4rem;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.5);

    background-color: $color-white;
  }

  &__logo {
    @include flexCenter;
    padding: 5rem;
  }

  &__form {
  }

  &__redirect {
    margin-top: 2rem;
    font-size: 1.5rem;
    @include flexCenter;

    &__link {
      text-decoration: none;
      color: $color-blue-light-1;
      transition: all 0.25s ease-out;

      &:hover {
        color: $color-green-light-1;
      }
    }
  }
}
