.main-content {
  display: flex;

  &__left-bar {
    height: 100vh;
    position: sticky;
    top: 0;
    width: 300px; // fixed value
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    padding: 3rem;
    background-color: $color-light-background-1;

    &__logo {
      border: 1px solid black;
      padding: 2rem 0;
      @include flexCenter;
    }

    &__content {
      border: 1px solid black;
      height: 70vh;
      margin-top: 2rem;
      @include flexCenter;
    }

    &__bottom {
      border-top: 1px solid $color-grey-light-2;
      padding-top: 1.5rem;
      @include flexCenter;
    }
  }

  &__content {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    padding: 0 3.5rem;

    &-top {
      display: flex;
      padding: 5rem 0 3rem;
      justify-content: space-between;
      flex-direction: row;
      position: sticky;
      top: 0;
      z-index: 10;
      background-color: $color-white;
      border-bottom: 1px solid black;

      &__left {
      }

      &__right {
        font-size: 2rem;
        display: flex;

        & > *:not(:last-child) {
          margin-right: 2rem;
        }

        &-search {
          font-family: inherit;
          font-size: inherit;
          color: inherit;
          border: 1px solid $color-grey-light-2;
          padding: 0.7rem 2rem;
          border-radius: 100px;
          width: 20rem;
          transition: all 0.25s;
          font-weight: 100;

          &:focus {
            outline: none;
            width: 30rem;
          }

          &::-webkit-input-placeholder {
            color: $color-grey-light-2;
          }
        }

        &-profile {
        }

        &-image {
          height: 3.75rem;
          border: 1px solid $color-grey-light-1;
          width: 3.75rem;
          border-radius: 50%;
          background-color: rgba($color-black, 0.5);
          cursor: pointer;
          @include flexCenter;
        }
      }
    }

    &-bottom {
      display: flex;
      padding-bottom: 5rem;

      &__left {
        flex: 1 1;
        height: 500vh;
        margin-right: 3.5rem;
        margin-top: 3rem;
        background-color: rgba($color-light-background-1, 0.1);
        border: 1px solid black;
        padding: 1rem 2rem;
      }

      &__right {
        flex-shrink: 0;
        width: 250px;
        border: 1px solid black;
        padding: 2rem;
        right: 100px;
        position: sticky;
        top: 17vh;
      }

      &__create-link {
        font-size: 2rem;
      }

      &__create-folder {
        font-size: 2rem;
        cursor: pointer;
        color: $color-blue-light-2;
        transition: all 0.2s ease-out;

        &:hover {
          color: lighten($color-blue-light-2, 20%);
        }
      }
    }
  }
}
