.main-content {
  display: flex;

  &__pusher {
    width: 300px;
    flex-shrink: 0;
  }

  &__left-bar {
    min-height: 100vh;
    position: fixed;
    top: 0;
    width: 300px; // fixed value
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 3rem;
    background-color: $color-light-background-1;

    &__logo {
      flex-shrink: 0;
      border: 1px solid black;
      padding: 2rem 0;
      @include flexCenter;
    }

    &__contents {
      flex-shrink: 1;
      min-height: 70vh;
      border: 1px solid black;
      margin-top: 2rem;
      overflow: auto;
    }

    &__content {
      padding: 1rem 0 1rem 2rem;
      cursor: pointer;
      display: flex;
      align-content: center;

      &:hover {
        background-color: darken($color-light-background-1, 10%);
      }
    }

    &__bottom {
      flex-shrink: 1;
      padding-top: 2rem;
      border-top: 1px solid $color-grey-light-2;
      margin-top: 1.5rem;
      @include flexCenter;
    }
  }

  &__content {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    padding-right: 3rem;

    &-top {
      display: flex;
      padding: 5rem 0 3rem;
      justify-content: space-between;
      flex-direction: row;
      position: sticky;
      top: 0;
      z-index: 10;
      background-color: $color-white;
      min-height: 10vh;
      margin-left: 3.5rem;
      padding-right: 1.5rem;

      &__left {
        display: flex;

        div:not(:last-child) {
          margin-right: 1rem;
        }

        div:not(:first-child) {
          font-size: 1.5rem;
          padding: 1rem;
          @include flexCenter;
          cursor: pointer;
          border-radius: 5px;
          color: $color-grey-light-2;
          border: 1px solid $color-grey-light-2;

          &:hover {
            border: 1px solid $color-blue-light-2;
            color: $color-blue-light-2;
          }
        }
      }

      &__right {
        font-size: 2rem;
        display: flex;

        & > *:not(:last-child) {
          margin-right: 2rem;
        }

        &-search {
          font-family: inherit;
          font-size: inherit;
          color: inherit;
          border: 1px solid $color-grey-light-2;
          padding: 0.7rem 2rem;
          border-radius: 100px;
          width: 20rem;
          transition: all 0.25s;
          font-weight: 100;

          &:focus {
            outline: none;
            width: 30rem;
          }

          &::-webkit-input-placeholder {
            color: $color-grey-light-2;
          }
        }

        &-profile {
        }

        &-image {
          height: 3.75rem;
          border: 1px solid $color-grey-light-1;
          width: 3.75rem;
          border-radius: 50%;
          background-color: rgba($color-black, 0.5);
          cursor: pointer;
          @include flexCenter;
        }
      }
    }

    &-bottom {
      display: flex;
      padding-bottom: 20rem;
      margin-left: 3.5rem;

      &__left {
        flex: 1 1;
        min-height: 50vh;
        margin-right: 3.5rem;
        margin-top: 3rem;
        background-color: rgba($color-light-background-1, 0.2);
        border: 1px solid rgba($color-black, 0.3);
        padding: 1rem 2rem;
      }

      &__content-box {
        display: flex;
        border-bottom: 1px solid rgba($color-grey-light-2, 0.3);

        &:first-child {
          border-top: 1px solid rgba($color-grey-light-2, 0.3);
        }

        &:hover label {
          border: 1px solid rgba($color-grey-light-2, 0.7);
        }

        &:hover a {
          color: $color-blue-light-2;
        }
      }

      &__content {
        font-size: 2rem;
        width: 100%;
        padding: 1.5rem 1rem;
        cursor: pointer;
        transition: all 0.25s ease;

        &:hover {
          color: $color-blue-light-2;
        }

        &:hover a {
          color: $color-blue-light-2;
        }
      }

      &__right {
        flex-shrink: 0;
        width: 250px;
        padding: 2rem;
        right: 100px;
        position: sticky;
        top: 17vh;
      }

      &__create-link {
        font-size: 2rem;
      }

      &__create-folder {
        font-size: 1.5rem;
        cursor: pointer;
        color: $color-blue-light-2;
        display: flex;
        align-items: center;
        transition: all 0.2s ease-out;

        &:hover {
          color: lighten($color-blue-light-2, 20%);
        }
      }
    }
  }
}

.bottom-modifier {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  font-size: 2rem;
  padding: 2.5rem 1.5rem;
  width: 100%;
  display: flex;
  background-color: $color-white;
  border-radius: 5px;
  border-top: 1px solid rgba($color-black, 0.1);
  z-index: 50;

  &__content {
    &:first-child {
      margin-left: 2.5rem;
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
