.u-mb-sm {
  margin-bottom: 2rem !important;
}

.u-mb-md {
  margin-bottom: 3rem !important;
}

.u-mb-lg {
  margin-bottom: 4rem !important;
}

.u-mb-hg {
  margin-bottom: 8rem !important;
}

.u-mt-sm {
  margin-top: 2rem !important;
}

.u-mt-md {
  margin-top: 3rem !important;
}

.u-mt-lg {
  margin-top: 4rem !important;
}

.u-mt-hg {
  margin-top: 8rem !important;
}

.u-mr-tiny {
  margin-right: 1rem !important;
}

.u-mr-sm {
  margin-right: 2rem !important;
}

.u-mr-md {
  margin-right: 3rem !important;
}

.u-mr-lg {
  margin-right: 4rem !important;
}

.u-mr-hg {
  margin-right: 8rem !important;
}

.u-ml-tiny {
  margin-left: 1rem !important;
}

.u-ml-sm {
  margin-left: 2rem !important;
}

.u-ml-md {
  margin-left: 3rem !important;
}

.u-ml-lg {
  margin-left: 4rem !important;
}

.u-ml-hg {
  margin-left: 8rem !important;
}

.white {
  color: $color-white !important;
}

.black {
  color: $color-black !important;
}

.stretch {
  width: 100% !important;
}

.open {
  display: block !important;
}

.hide {
  display: none !important;
}

.link {
  text-decoration: none;
  color: $color-black;
  width: 100%;
}

.active {
  background-color: darken($color-light-background-1, 10%) !important;
  pointer-events: none !important;
}

.transparent {
  color: transparent !important;
  border: none !important;
}

.flex {
  display: flex;
}

.flex-center {
  @include flexCenter;
}

.checkbox-hidden {
  display: none;

  &:checked + .checkbox-label {
    background-color: #2196f3;
  }

  &:checked + .checkbox-label span {
    display: inline-block;
  }

  &:checked ~ div {
    background-color: rgba($color-blue-light-2, 0.1);
  }
}

.checkbox-label {
  margin-right: 1rem;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  border: 1px solid $color-white;
  transform: translateY(15px);
  cursor: pointer;

  &:hover ~ div {
    color: $color-blue-light-2;
  }
}

.show-checkbox-border {
  border: 1px solid rgba($color-grey-light-2, 0.7);
}

.backdrop-white {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba($color-white, 0.5);
  z-index: 1;
}

.more {
  width: 30px;
  z-index: 2;

  &__icon {
    &,
    &::before,
    &::after {
      width: 4px;
      height: 4px;
      border-radius: 4px;
      background-color: transparent;
      transform: translate(13px, 15px);
      transition: all 0.25s ease-out;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: transparent;
      transition: all 0.25s;
    }

    &::before {
      transform: translateX(-10px);
    }

    &::after {
      transform: translateX(10px);
    }

    &:hover &__content {
      display: block !important;
    }
  }

  &__content-hidden {
    display: none;
  }

  &__content-show {
    position: absolute;
    font-size: 1.5rem;
    width: 180px;
    padding: 0.7rem 0.5rem 0.7rem 2rem;
    animation: moveDown 0.4s ease-out;
    background-color: $color-white;
    box-shadow: 0 0.5px 2px 0px $color-black;
    animation-fill-mode: forwards;
    z-index: 100;
    color: $color-black !important;

    &:hover {
      background-color: $color-grey-light-1;
    }
  }
}

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translate(-160px, 5px);
  }
  80% {
    transform: translate(-160px, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(-160px, 15px);
  }
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(red, 0.25);
  z-index: 99;
}
