// COLOR
$color-grey-light-1: #f5f6f8;
$color-grey-light-2: #e6e8ec;

$color-grey-dark-1: #aaa;
$color-grey-dark-2: #999;
$color-grey-dark-3: #777;
$color-grey-dark-4: #333;
$color-grey-dark-5: #ffffff24;

$color-grey-background-1: #00000014;

$color-dark-1: #3d464f;

$color-dark-2: #2a3746;

$color-red-1: #ff6b6b;
$color-red-2: #ba1f1f;
$color-red-3: #ff5252;

$color-blue-1: #0070e0;
$color-blue-2: #0096fe;
$color-blue-3: #3badfc;
$color-blue-4: #9debff;
$color-blue-5: #59d4ff;
$color-blue-6: #d0f5fc;

$color-green-1: #12b886;

$color-primary: #0070e0;
$color-hover: #007af5;

// FONT
$font-primary: 'Noto Sans', sans-serif; // 400 700
