@import '../../Variables.scss';

.create-url-modal {
  width: 100%;

  &__heading {
    margin-bottom: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;

    &__group {
      position: relative;

      label {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 2rem;
        color: $color-grey-dark-2;
        transform: translate(6px, 36px);
        transition: transform 0.25s ease;
        opacity: 0;

        span {
          color: $color-grey-dark-2;
          font-size: 1.75rem;
        }
      }

      input {
        width: 100%;
        font-family: inherit;
        background-color: white;
        font-size: 2rem;
        color: $color-blue-1;
        border: none;
        border: 1px solid $color-grey-dark-1;
        border-radius: 3px;
        padding: 1rem 2rem 1rem 0.5rem;
        transition: all 0.25s ease;

        &:focus {
          margin-top: 5rem;
        }

        &:focus + label {
          transform: translate(6px, 10px);
          color: $color-blue-1;
          opacity: 1;
        }

        &::placeholder {
          font-size: 1.75rem;
          color: $color-grey-dark-1;
        }
      }
    }

    &__actions {
      float: right;
      align-self: flex-end;
      font-size: 2rem;
      margin-top: 1.75rem;
    }
  }
}
