.service-content {
  font-size: 2rem;
  height: 100%;

  &__container {
    height: 100%;
    padding: 2rem 0.5rem;

    display: flex;
    flex-direction: column;
  }

  &__box {
    position: relative;
  }
}
