@import '../../Variables.scss';

.service-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__box {
    padding: 1rem 1.5rem;
    background-color: rgba($color-primary, 0.15);
    cursor: default;
  }

  &__username {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__email {
    color: $color-grey-dark-3;
    font-size: 1.2rem;
  }

  &__settings {
    text-decoration: none;
    color: black;
  }
}
