@import '../../Variables.scss';

.setting-email {
  padding: 1.5rem 0;
  border-bottom: 1px solid $color-grey-light-2;

  &__content {
    display: flex;
    align-items: center;
  }

  &__header {
    flex: 2.5 0;
  }

  &__email {
    flex: 3 0;
    font-size: 2rem;
    color: $color-grey-dark-3;
  }

  &__description {
    font-size: 1.25rem;
    margin-top: 1rem;
    color: $color-grey-dark-1;
  }
}
