.btn {
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  font-size: 1.5rem;
  color: $color-black;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-out;

  &:focus {
    outline: none;
  }

  &--primary {
    background-image: linear-gradient(
      -180deg,
      rgba(255, 255, 255, 0.09) 0%,
      rgba(17, 17, 17, 0.04) 100%
    );
    border: 1px solid rgba($color-grey-light-2, 0.8);
    outline: none;
    transition: all 0.25s ease-out;

    &:hover {
      background-image: linear-gradient(
        -180deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(17, 17, 17, 0.1) 100%
      );
      border: 1px solid rgba($color-grey-light-2, 0.8);
      transition: all 0.25s ease-out;
    }
  }

  &--cancel {
    background-color: $color-white;
    border: 1px solid $color-grey-light-2;
    outline: none;

    &:hover {
      color: $color-blue-light-2;
      border: 1px solid $color-blue-light-2;
    }
  }

  &--positive {
    background-color: $color-blue-light-2;
    color: $color-white;
    outline: none;

    &:hover {
      background-color: lighten($color-blue-light-2, 10%);
    }
  }

  &--blue {
    background-color: $color-blue-light-2;
    color: $color-white;

    &:hover {
      background-color: darken($color-blue-light-2, 10%);
    }

    &--inverted {
      background-color: transparent;
      color: $color-blue-light-2;
      border: 1.5px solid $color-blue-light-2;
      font-weight: 500;
      font-size: 2rem;
      &:hover {
        background-color: $color-blue-light-2;
        color: $color-white;
      }
    }
  }
}

.small {
  padding: 1rem 2.5rem !important;
}

.big {
  padding: 2rem 5rem !important;
}

.disabled {
  background-color: $color-grey-light-2 !important;
  pointer-events: none;
  transition: all 0.2s;
}
