@import '../../Variables.scss';

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.checkbox-hidden {
  display: none;

  &:checked + .checkbox-label {
    background-color: #2196f3;
  }

  &:checked + .checkbox-label {
    border: 1px solid white;
  }

  &:checked + .checkbox-label span {
    display: inline-block;
  }

  &:checked .content-folder__content-area {
    background-color: rgba($color-blue-1, 0.1);
  }
}

.checkbox-label {
  display: inline-block;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 3px;
  border: 1px solid white;
  cursor: pointer;

  // &:hover {
  //   border: 2px solid $color-grey-dark-1;
  // }

  &.show-border {
    border: 2px solid $color-grey-light-2;
  }
}

.transform-checked-icon {
  transform: translate(3px, 0px);
}
