@import '../../Variables.scss';

.ellipsis {
  width: 100%;
  position: relative;
  width: 4rem;
  height: 4.75rem;
  cursor: pointer;

  &:hover &__icon,
  &:hover &__icon::before,
  &:hover &__icon::after {
    background-color: $color-grey-dark-4;
    color: $color-grey-dark-4;
  }

  &__icon {
    position: relative;
    transform: translate(17px, 7px);

    &.grey {
      &,
      &::before,
      &::after {
        width: 4px;
        height: 4px;
        background-color: $color-grey-dark-2;
        color: $color-grey-dark-2;
        display: inline-block;
        border-radius: 3px;
        transition: all 0.25s ease;
      }
    }

    &.black {
      &,
      &::before,
      &::after {
        width: 4px;
        height: 4px;
        background-color: $color-grey-dark-4;
        color: $color-grey-dark-4;
        display: inline-block;
        border-radius: 3px;
        transition: all 0.25s ease;
      }
    }

    &.transparent {
      &,
      &::before,
      &::after {
        width: 4px;
        height: 4px;
        background-color: transparent;
        color: transparent;
        display: inline-block;
        border-radius: 3px;
        transition: all 0.25s ease;
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
    }

    &::before {
      transform: translateX(-10px);
    }

    &::after {
      transform: translateX(10px);
    }
  }

  &__content {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;

    &.visible {
      animation: moveEllipsisContentDownSmoothly 0.25s ease;
      animation-fill-mode: forwards;
      display: block !important;
    }
  }
}

@keyframes moveEllipsisContentDownSmoothly {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  80% {
    opacity: 1;
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}
