@import '../Variables.scss';

.landing {
  position: relative;
  min-height: 100vh;
  padding-top: 8rem;

  &__hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background-color: white;
  }

  &__main {
    display: grid;
    min-height: 40vh;
    background-color: $color-grey-light-1;
  }
}
